body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.cityinput {
  border-radius: 12px;
  font-size: 1.3rem;
  background-color: rgb(222, 218, 218);
  margin: 4px;
  border: 1px solid rgba(0, 0, 0, 0.182);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
}
.inputbutton {
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  padding: 6px 12px;
  background-color: rgba(137, 250, 9, 0.778);
  margin: 4px;
  border: 1px solid rgba(0, 0, 0, 0.182);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.inputbutton:hover {
  background-color: rgb(137, 250, 9);
  cursor: pointer;
}

.resultdisplay {

  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  background-color: linen;
  padding: 39px 10px;

  background: linear-gradient(
    150deg,
    rgba(255, 0, 0, 0.7),
    rgba(255, 255, 0, 0.645)
  );
  box-shadow: 6px 5px 5px rgba(7, 6, 3, 0.551);
}

.city,
.temp {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.759);
  margin: 0;
}
.temp{
  font-size: 4rem;
}
.humidity{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: .9rem;
  color: rgba(0, 0, 0, 0.759);
  margin: 0;
}

.weather {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: bold;
  margin: 0;
  color: rgba(0, 0, 0, 0.759);;
}

.emoji {
  height: 100px;
  width: 100px;
  font-size: 3rem;
  margin: 0;
}

.errordisplay {
  color: rgb(12, 12, 12);
  font-size: 1.5rem;
  margin: 0;
  font-weight: bold;
}