body{
  background-color: white;
}
h1{
  text-align: center;
}
main{
  padding: 50px;
}
.photo{
  display: inline-block;
  width: 200px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid white;
  border-radius: 5px;
}
.photo .description{
  background-color: bisque;
  padding: 10px;
  border-radius: 5px;
}
.photo img{
  width: 100%;
}


.photo:hover{
  border-color: red;
}