.wrapper {
  background-color: aliceblue;
  color: rgba(0, 0, 0, 0.77);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: fit-content;
  font-size: 20px;
}

.tabstitle {
  display: flex;
  flex-direction: row;
  margin: 12px 16px;
}

.label {
  background-color: azure;
  color: rgba(0, 0, 0, 0.682);
  padding: 5px 6px;
  margin: 12px 15px;
  border: 4px solid blanchedalmond;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.content {
  margin: auto;
  color: rgb(255, 51, 0);
  font-size: 40px;
  font-family: jetbrains mono;
}
